.spacer {
  flex: 1 1 auto;
}

.burger {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  width: 30px;
  right: 30px;
  top: 30px;
  z-index: 1000;
  cursor: pointer;

  .bar {
    background-color: #ffffff;
    width: 30px;
    height: 3px;
    display: block;
    margin-bottom: 6px;
    border-radius: 10px;
    position: relative;
    right: 0;
    top: 0;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }

  &.play {
    .bar:nth-child(1) {
      top: 9px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .bar:nth-child(2) {
      right: 20px;
      opacity: 0;
    }

    .bar:nth-child(3) {
      top: -9px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.nav{
  width: 100%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem
}

.nav-drawer{
   width: 160px;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -160px;
    display: flex;
    z-index: 1000;
    transition: all ease-in-out 500ms;

    &.active-drawer{
      left: 0;
      transition: all ease-in-out 0.3s;
      background-color: #1F2937; /* Tailwind's gray-800 */
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      flex-direction: column;
      justify-content: space-between;
    }


    .nav-item{
      padding: 1rem;
      font-size: 1rem /* 16px */;
      line-height: 1.5rem /* 24px */;
      display: flex;
      gap: 0.25rem;
      width: 160px;
      max-width: 100%;
    }

    .logout-button{
      padding: 1rem;
      font-size: 1rem /* 16px */;
      line-height: 1.5rem /* 24px */;
      display: flex;
      gap: 0.25rem;
      width: 160px;
      max-width: 100%;
    }

    .nav-drawer-overlay{
      opacity: 0;
      width: 100%;
      background-color: black;
      position: fixed;
      z-index: 3;
    }
}
