
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: green;
}
.custom-snackbar-success.mat-mdc-snack-bar-container .mat-mdc-snack-bar-label {
  color: white;
}
.custom-snackbar-success.mat-mdc-snack-bar-container .mat-mdc-button {
  color: white; /* For action button text */
}

.snackbar-error.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: red;
}
.custom-snackbar-error.mat-mdc-snack-bar-container .mat-mdc-snack-bar-label {
  color: white;
}
.custom-snackbar-error.mat-mdc-snack-bar-container .mat-mdc-button {
  color: white; /* For action button text */
}

.snackbar-warn.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: yellow;
}
.custom-snackbar-warn.mat-mdc-snack-bar-container .mat-mdc-snack-bar-label {
  color: white;
}
.custom-snackbar-warn.mat-mdc-snack-bar-container .mat-mdc-button {
  color: white; /* For action button text */
}

// In styles.scss or styles.css
.cdk-overlay-pane {
  @media only screen and (max-width: 600px) {
    top: 70px !important;
    left: auto !important;
    right: 0 !important;
    height: max-content !important;
    width: max-content !important; // adjust as necessary
  }
}