.auth-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0px;

  .login-card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .card-header{
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
    }

    .login-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
}


