<section class="bg-secondaryColour mt-20 w-full min-w-fit table-auto p-5">
    <div class="mb-6 flex flex-wrap gap-4 items-center">
        <div class="flex flex-col">
            <label for="startDate" class="text-textColour text-sm font-medium mb-2">From Date</label>
            <input id="startDate" type="date"
                class="px-3 py-2 bg-primaryColour text-textColour border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
        <div class="flex flex-col">
            <label for="endDate" class="text-textColour text-sm font-medium mb-2">To Date</label>
            <input id="endDate" type="date"
                class="px-3 py-2 bg-primaryColour text-textColour border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
    </div>

    <table id="myDataTable" class="w-full text-sm text-left rtl:text-right text-gray-500 shadow-md">
        <thead class="text-xs text-textColour uppercase bg-primaryColour">
            <tr>
                <th scope="col" class="px-6 py-3">Customer</th>
                <th scope="col" class="px-6 py-3">Date</th>
                <th scope="col" class="px-6 py-3">Start Time</th>
                <th scope="col" class="px-6 py-3">End Time</th>
                <th scope="col" class="px-6 py-3">Amount</th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col" class="px-6 py-3 text-textColour w-auto">John Doe</td>
                <td scope="col" class="px-6 py-3 text-textColour w-auto">13/09/2025</td>
                <td scope="col" class="px-6 py-3 text-textColour w-auto">10:23 am</td>
                <td scope="col" class="px-6 py-3 text-textColour w-auto">12:00 pm</td>
                <td scope="col" class="px-6 py-3 text-textColour w-auto">$200</td>
                <td scope="col" class="px-6 py-3 text-textColour flex justify-end w-auto">
                    <button class="text-textColour px-4 py-2 rounded-lg flex items-center gap-2 hover:bg-primaryColour">
                        Booking Details
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>