<section class="bg-secondaryColour mt-20 w-full min-w-fit table-auto p-5">
    <div class="mb-6">
        <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search by email..."
            class="px-3 py-2 bg-primaryColour text-textColour border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 w-80">
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 shadow-md border border-gray-600">
        <thead class="text-xs text-textColour uppercase bg-primaryColour">
            <tr>
                <th scope="col" class="px-6 py-3 border-b border-gray-600">Email</th>
                <th scope="col" class="px-6 py-3 border-b border-gray-600">Name</th>
                <th scope="col" class="px-6 py-3 border-b border-gray-600">Phone</th>
                <th scope="col" class="px-6 py-3 border-b border-gray-600">Address</th>
                <th scope="col" class="px-6 py-3 border-b border-gray-600"></th>
            </tr>
        </thead>
        <tbody>
            @for (item of customers; track $index) {
            <tr class="border-b border-gray-600">
                <td scope="col" class="px-6 py-3 text-textColour w-auto">{{item.email}}</td>
                <td scope="col" class="px-6 py-3 text-textColour w-auto">{{item.firstName ? item.firstName: ''}}
                    {{item.lastName ? ` ${item.lastName} `: ''}}</td>
                <td scope="col" class="px-6 py-3 text-textColour w-auto">{{item.phone}}</td>
                <td scope="col" class="px-6 py-3 text-textColour w-auto">{{item.address}}</td>
                <td scope="col" class="px-6 py-3 text-textColour flex justify-end w-auto border-b border-gray-600">
                    <button style="width: 170px;" (click)="goToDetails(item.id)"
                        class="bg-blue-600 min-w-10 text-textColour px-4 py-2 rounded-lg flex items-center gap-2 hover:bg-primaryColour">
                        Customer Details
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @if(hasMore && !loading){
    <button (click)="getCustomers()"
        class="mt-3 mx-auto bg-blue-600 text-textColour px-4 py-2 rounded-lg flex items-center gap-2 hover:bg-primaryColour">
        Load More
    </button>

    }

</section>