<section class="bg-secondaryColour mt-20">
    <div [class]="screenWidth >= 1261 ? '': 'hidden'" class="p-5 grid grid-cols-5 gap-4 w-full justify-self-center">
        <div class="bg-primaryColour shadow-md text-white w-full h-full row-span-4 p-3">
            <div class="flex flex-col justify-center content-center shadow-md w-full h-[50%] p-2">
                <p class="text-lg flex">
                    {{totalMonthRevenue}}
                </p>
                <p class="text-lg">
                    Monthly revenue
                </p>
            </div>
            <div class="flex flex-col justify-center content-center bg-blue-600 shadow-md w-full h-[50%] p-2">
                <p class="text-lg flex">
                    {{totalRevenue}}
                </p>
                <p class="text-lg">
                    Total revenue
                </p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full h-24 col-span-4 row-span-2 p-2">
            <h2>
                Welcome to Easy Book
            </h2>
            <p class="text-lg">Streamline customer scheduling and payments</p>

        </div>
        <div class="bg-primaryColour shadow-md text-white w-full h-24 row-span-2 flex p-2 gap-2">
            <span class="material-symbols-outlined text-4xl">
                person
            </span>
            <div class="flex justify-end flex-col w-full text-right">
                <p class="font-light text-lg">
                    Total Customers
                </p>
                <p class="text-lg">{{totalCustomers}}</p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full h-24 row-span-2 flex p-2 gap-2">
            <span class="material-symbols-outlined text-4xl">
                pending_actions
            </span>
            <div class="flex justify-end flex-col w-full text-right">
                <p class="font-light text-lg">
                    Upcoming bookings
                </p>
                <p class="text-lg">{{upcomingBookings}}</p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full h-24 row-span-2 flex p-2 gap-2">
            <span class="material-symbols-outlined text-4xl">
                calendar_check
            </span>
            <div class="flex justify-end flex-col w-full text-right">
                <p class="font-light text-lg">
                    Completed bookings
                </p>
                <p class="text-lg">{{pastBookings || 0}}</p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full h-24 row-span-2 flex p-2 gap-2">
            <span class="material-symbols-outlined text-4xl">
                book
            </span>
            <div class="flex justify-end flex-col w-full text-right">
                <p class="font-light text-lg">
                    Total bookings
                </p>
                <p class="text-lg">{{(upcomingBookings || 0) + (pastBookings || 0)}}</p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full h-full col-span-5 p-5">
            <div id="chart"></div>
        </div>
    </div>
    <div [class]="screenWidth < 1261 ? '' : 'hidden'" class="p-5 flex w-full flex-col gap-3 justify-self-center">
        <div class="bg-primaryColour shadow-md text-white w-full p-2">
            <h2>
                Welcome to Easy Book
            </h2>
            <p class="text-lg">Streamline customer scheduling and payments</p>

        </div>
        <div class="bg-primaryColour shadow-md text-white w-full h-full p-3">
            <div class="flex flex-col justify-center content-center shadow-md w-full h-[50%] p-2">
                <p class="text-lg flex">
                    {{totalMonthRevenue}}
                </p>
                <p class="text-lg">
                    Monthly revenue
                </p>
            </div>
            <div class="flex flex-col justify-center content-center bg-blue-600 shadow-md w-full h-[50%] p-2">
                <p class="text-lg flex">
                    {{totalRevenue}}
                </p>
                <p class="text-lg">
                    Total revenue
                </p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full flex p-2 gap-2">
            <span class="material-symbols-outlined text-4xl">
                person
            </span>
            <div class="flex justify-end flex-col w-full text-right">
                <p class="font-light text-lg">
                    Total Customers
                </p>
                <p class="text-lg">{{totalCustomers}}</p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full flex p-2 gap-2">
            <span class="material-symbols-outlined text-4xl">
                pending_actions
            </span>
            <div class="flex justify-end flex-col w-full text-right">
                <p class="font-light text-lg">
                    Upcoming bookings
                </p>
                <p class="text-lg">{{upcomingBookings || 0}}</p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full flex p-2 gap-2">
            <span class="material-symbols-outlined text-4xl">
                calendar_check
            </span>
            <div class="flex justify-end flex-col w-full text-right">
                <p class="font-light text-lg">
                    Completed bookings
                </p>
                <p class="text-lg">{{pastBookings || 0}}</p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full flex p-2 gap-2">
            <span class="material-symbols-outlined text-4xl">
                book
            </span>
            <div class="flex justify-end flex-col w-full text-right">
                <p class="font-light text-lg">
                    Total bookings
                </p>
                <p class="text-lg">{{(upcomingBookings || 0) + (pastBookings || 0)}}</p>
            </div>
        </div>
        <div class="bg-primaryColour shadow-md text-white w-full row-span-10 col-span-5 p-5">
            <div id="chart-mobile"></div>
        </div>
    </div>
</section>