<div class="container p-5 grid grid-cols-5 gap-4 w-full justify-self-center">
    <div class="bg-red-700 w-full h-full row-span-2 p-5">
        <div class="flex justify-between w-full h-[50%]">
            <div>
                money icon
            </div>
            <div>
                monthly revenue money amount
            </div>
        </div>
        <div class="flex bg-blue-600  w-full h-[50%]">
            total revenue
        </div>
    </div>
    <div class="bg-red-700 w-full h-24 col-span-4">
        Welcome to Easy Book
    </div>
    <div class="bg-red-700 w-full h-24">
        Total customers
    </div>
    <div class="bg-red-700 w-full h-24">
        upcoming bookings
    </div>
    <div class="bg-red-700 w-full h-24">
        completed bookings
    </div>
    <div class="bg-red-700 w-full h-24">
        Total Bookings
    </div>
    <div class="bg-red-700 w-full h-80 row-span-5 col-span-5 p-5">

    </div>
</div>